pyhton --- 3.10.7 version
MATLAB --- R2022B version

pythpn's modules to be installed:
os
keras.preprocessing.image
keras.utils.layer_utils
keras_tuner
keras
keras.models
keras.layers 
keras.callbacks
keras.optimizers
keras.metrics 
keras.utils
numpy
matplotlib
shutil
matlab.engine
torch
torch.nn 
statistics
sklearn.model_selection
sklearn.metrics
sklearn.utils
tools_for_Pytorch
ensemble
PIL
argparse
torchmetrics.classification
sys
kfold
time
errno
glob
logging
skimage.io 
seaborn
pandas
random
torchvision
torch.utils.data
ensemble_pytorch
tensorflow




